//
    Created by oscariu on 2016-02-09.
link(href='/css/homepage.css', rel='stylesheet')

extends layout

block content
    include toolbar
    h1= title
    p Welcome #{user.firstName}
    if (!user)
        a(href="/login") Login
        br
        a(href="/register") Register
    if (user)
        p
        //a(href="/profile") Profile
        //br
        //a(href='/')
            button.btn.btn-primary(type="button") My Profile
        //a(href="/logout") Logout
        //a(href='/')
            button.btn.btn-primary(type="button") Logout