//
    Created by oscariu on 2016-02-09.
link(href='/css/homepage.css', rel='stylesheet')

extends layout

style.
    h1{font-size: 22px; color: #000080;}

block content
    include toolbar
    h1= title
    p Homepage
    if (!user)
        a(href="/login") Login
        br
        a(href="/register") Register
    if (user)
        p Welcome #{user.firstName}
