//
   Created by danielchoi on 2016-03-10.

style.

    html, body {
        height: 60%;
    }
    html {
        display: table;
        margin: auto;
    }
    body {
        display: table-cell;
        vertical-align: middle;
    }

    .elt {
        text-align: center;
        float: left;
        width: 300px;
    }