//
   Created by danielchoi on 2016-03-31.

style.
    .elt {
        float: left;
        padding-right: 25px;
        padding-left: 25px;
    }
    ul.list-group {
        width: 300px;
        max-height: 250px;
        overflow-y: scroll;
    }
    html {
        display: table;
        margin: auto;
    }

    body {
        display: table-cell;
        vertical-align: middle;
    }