<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/homepage/">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                Collab-A-Comic!
            </a>
        </div>
        <form class="navbar-form navbar-left" method="GET">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter a search" name="q">
            </div>
            <input type="submit" class="btn btn-default" value="Search"/>
        </form>
        <ul class="nav navbar-nav">
            <li>
                <a href="/uploadtest/">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Create post
                </a>
            </li>
            <li>
                <a href="/profile/">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    Profile
                </a>
            </li>
            <li>
                <a href="/logout/">
                <span class="glyphicon glyphicon-eject" aria-hidden="true"></span>
                Logout
                </a>
            </li>
        </ul>
    </div>
</nav>
</html>