////
//   Created by danielchoi on 2016-02-08.
//
//extends layout
//
//block content
//    h1= title
//    form#registerUser(name="registerUser",method="post",action="/registeruser")
//        input#inputUser