// Passport tutorial: http://bit.ly/1TNXvgG
   Created by danielchoi on 2016-02-08.

link(href='/css/homepage.css', rel='stylesheet')
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')

style.
    .elt {
        float: left;
    }

nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
            a.navbar-brand(href='/')
                span.glyphicon.glyphicon-edit(aria-hidden='true')
                |  Collab-A-Comic!
br

body
    .elt
        h4 Sign up!
        br
        form(role='form', action="/register",method="post", style='max-width: 300px;')
            .form-group
                input.form-control(type='text', name="firstName", placeholder='First name')
            .form-group
                input.form-control(type='text', name="lastName", placeholder='Last name')
            .form-group
                input.form-control(type='text', name="email", placeholder='Email')
            .form-group
                input.form-control(type='text', name="username", placeholder='Username')
            .form-group
                input.form-control(type='password', name="password", placeholder='Password')
            .form-group
                textarea.form-control(name="description", cols="40", rows="3",
                placeholder='Enter a description')
            .form-group Account type:
                select(name="isContributor")
                    option(value=1) Contributor
                    option(value=0) Viewer
            button.btn.btn-primary(type='submit') Submit
        p
            a(href='/')
                button.btn.btn-default(type="button") Cancel