// created by Ford Atwater

html
    body
        link(rel='stylesheet', href='/stylesheets/toolbarswag.css')
        #floatMenu
            ul.menu1
                li
                    a(href='#')  Home
            ul.menu2
                li
                    a(href='profile')  Profile
            ul.menu3
                li
                    a(href='loadImage')  New Comic
            ul.menu4
                li
                    a(href='logout') Log Out