// created by Ford Atwater

html
    body
        link(rel='stylesheet', href='/stylesheets/toolbarswag.css')
        #floatMenu
            ul.menu1
                li
                    a(href='homepage')  Home
            ul.menu2
                li
                    a(href='profile')  Profile
            //if (user.isContributor)
            ul.menu3
                    li
                        a(href='uploadtest')  New Comic
            ul.menu4
                li
                    a(href='logout') Log Out

