html
    body
        link(rel='stylesheet', href='/stylesheets/toolbarswag.css')
        #floatMenu
            ul.menu1
                li
                    a(href='profile')  Profile
            ul.menu2
                li
                    a(href='#', onclick='return false;')  Home
            ul.menu3
                li
                    a(href='loadImage')  New