body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p, a, li {
  color: #000000;
}

#comments {
.name
float left
.created_at
float right
.content
clear both
}

h8 {
  color: grey;
  font-size: small;
}

