body {
    background-color:#fff;
    height:2000px;
    color:#ccc;
    font:10px "Lucida Grande", "Lucida Sans", "Trebuchet MS", verdana, sans-serif;
}
#floatMenu {
    position:fixed;
    top:0px;
}
#floatMenu ul {
    margin-bottom:10px;
}
#floatMenu ul li a {
    display:block;
    border:1px solid #999;
    background-color:#006600;
    /*border-left:6px solid #999;*/
    text-decoration:none;
    color:#ccc;
    padding:5px 5px 5px 25px;
}
#floatMenu ul.menu1 li a:hover {
    border-color:#fff;
}
#floatMenu ul.menu2 li a:hover {
    border-color:#fff;
}
#floatMenu ul.menu3 li a:hover {
    border-color:#fff;
}
#floatMenu ul.menu4 li a:hover {
    border-color:#fff;
}
#floatMenu ul.menu1, ul.menu2, ul.menu3, ul.menu4 {
    display:inline-block;
    width:200px;
}